<%= form_for(@task.becomes(Task)) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  </div>
  <div class="field">
    <%= f.label :due_date %><br>
    <%= f.date_field :due_date %>
  </div>
  <div class="field">
    <%= f.label :estimated_score %><br>
    <%= f.number_field :estimated_score %>
  </div>

  <%= hidden_field_tag :course_id, params[:course_id] %>
  <%= hidden_field_tag :type, params[:type] %>

  <div class="field">
    <%= f.label :received_grade %><br>
    <%= select :task, :received_grade, Task.grades, {:include_blank => true} %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
