<p id="notice"><%= notice %></p>

<p>
  <strong><%= @task.type %>&nbsp;Title:</strong>
  <%= @task.title %>
</p>

<p>
  <strong>Course:</strong>
  <%= @task.associated_course.title + " " + @task.associated_course.course_number%>
</p>

<p>
  <strong>Due date:</strong>
  <%= @task.due_date %>
</p>

<p>
  <strong>Estimated score:</strong>
  <%= @task.estimated_score %>
</p>

<p>
  <strong>Study Entries:</strong>
  <% if @task.study_entries %>
  <% @task.study_entries.each do |study_entry| %>
    <li>
      <b>Time Spent:</b>
  
    </li>
    <% end %>
  <% end %>
</p>

<p>
  <strong>Actual Grade:</strong>
  <%= @task.received_grade %>
</p>

</br>
<%= link_to 'New Study Entry', new_study_entry_path(:task_id => @task.id) %>
</br>
</br>
<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', course_path(@task.course_id) %>
