<%= form_for(@study_entry) do |f| %>
  <% if @study_entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@study_entry.errors.count, "error") %> prohibited this study_entry from being saved:</h2>

      <ul>
      <% @study_entry.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    &nbsp;&nbsp;
    <%= f.label :start %>
    <%= f.datetime_select :start_time, order: [:month, :day, :year], :ampm => true %>
    &nbsp;&nbsp;
  </div>


  <div class="field">
    &nbsp;&nbsp;
    <%= f.label :end %>
    <%= f.datetime_select :end_time, order: [:month, :day, :year], :ampm => true %>
  </div>
  
  <%= hidden_field_tag :task_id, params[:task_id] %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
