<%= form_for(@study_entry) do |f| %>
  <% if @study_entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@study_entry.errors.count, "error") %> prohibited this study_entry from being saved:</h2>

      <ul>
      <% @study_entry.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :start_date %>
    <%= f.date_field :start_time %>
    &nbsp;&nbsp;
    <%= f.label :start_time %>
    <%= f.time_field :start_time %>
  </div>


  <div class="field">
    <%= f.label :end_date %>
    <%= f.date_field :end_time %>
    &nbsp;&nbsp;
    <%= f.label :end_time %>
    <%= f.time_field :end_time %>
  </div>

  <%= hidden_field_tag :task_id, params[:task_id] %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
