<h1>Listing study_entries</h1>

<table>
  <thead>
    <tr>
      <th>Start</th>
      <th>Time</th>
      <th>End</th>
      <th>Time</th>
      <th>Task</th>
      <th colspan="8"></th>
    </tr>
  </thead>

  <tbody>
    <% @study_entries.each do |study_entry| %>
      <tr>
        <td><%= study_entry.start_date %></td>
	<td><%= study_entry.start_time %></td>
        <td><%= study_entry.end_date %></td>
	<td><%= study_entry.end_time %></td>
        <td><%= study_entry.task_id %></td>
        <td><%= link_to 'Show', study_entry %></td>
        <td><%= link_to 'Edit', edit_study_entry_path(study_entry) %></td>
        <td><%= link_to 'Destroy', study_entry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Study entry', new_study_entry_path %>
