<p id="notice"><%= notice %></p>

<p>
  <h2>Tasks for <%= @course.title%>&nbsp;<%= @course.course_number%></h2>
</p>

<p>
<strong>&nbsp;Homeworks:</strong>
  <% if @course.homeworks %>
      <% @course.homeworks.each do |homework| %>    
         <table>
	   <thead>
	     <tr>
	       <th>&nbsp;Title&nbsp;</th>
	       <th>&nbsp;Total Time&nbsp;</th>
	       <th>&nbsp;Grade</th>
	       <th colspan = "4"></th>
	     </tr>
	   </thead>

	   <tbody>
	     <tr>
	       <td>&nbsp;<%= link_to homework.title, task_path(homework.id) %><td>
	       <td></td>
	       <td><%= homework.received_grade %></td>
	     </tr>
           </tbody>
	  </table>
      <% end %>
  <% end %>
  </br>
  <%= link_to 'Add a Homework', new_task_path(:course_id => @course.id, :type => "Homework") %>
</p>
<p>
<strong>&nbsp;Projects:</strong>
  <% if @course.projects %>
      <% @course.projects.each do |project| %>
          <table>
           <thead>
             <tr>
               <th>Title</th>
               <th>Total Time</th>
               <th>Grade</th>
               <th colspan = "4"></th>
             </tr>
           </thead>

           <tbody>
             <tr>
               <td>&nbsp;<%= link_to project.title, task_path(project.id) %></td>
	       <td></td>
	       <td></td>
            </tr>
           </tbody>
          </table>
      <% end %>
  <% end %>
  </br>
  <%= link_to 'Add a Project', new_task_path(:course_id => @course.id, :type => "Project") %>
</p>

<p>
  <strong>&nbsp;Tests:</strong>
  <% if @course.tests %>
      <% @course.tests.each do |test| %>
         <li>
	   <%= link_to test.title, task_path(test.id) %>
	 </li>
      <% end %>
  <% end %>
  </br>
  <%= link_to 'Add a Test', new_task_path(:course_id => @course.id, :type => "Test") %>
</p>

</br>
<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
