<p id="notice"><%= notice %></p>

<p>
  <h2><%= @course.title%>&nbsp;<%= @course.course_number %></h2>
</p>

<p>
</br>
<strong>&nbsp;Homeworks:</strong>
  <% if @course.homeworks %>
      <% @course.homeworks.each do |homework| %>
         <li>
	   <%= link_to homework.title, task_path(homework.id) %>
           <%= homework.received_grade %>
	 </li>
      <% end %>
  <% end %>
</p>

<p>
  <strong>&nbsp;Projects:</strong>
  <% if @course.projects %>
      <% @course.projects.each do |project| %>
	 <li>
	   <%= link_to project.title, task_path(project.id) %>
	 </li>
      <% end %>
  <% end %>
</p>

<p>
  <strong>&nbsp;Tests:</strong>
  <% if @course.tests %>
      <% @course.tests.each do |test| %>
         <li>
	   <%= link_to test.title, task_path(test.id) %>
	 </li>
      <% end %>
  <% end %>
</p>

</br>
<p>
<%= link_to 'New Task', new_task_path(:course_id => @course.id) %>
</p>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
