<p id="notice"><%= notice %></p>

<h2>Tasks for <%= @course.title%>&nbsp;<%= @course.course_number%></h2>


<p>
<strong>Homeworks:</strong>
  <% if @course.homeworks %>
      <% @course.homeworks.each do |homework| %>    
         <li><%= link_to homework.title, task_path(homework.id) %>
	     &nbsp;&nbsp;<b>Hours Studied:  </b><%= homework.total_hours %>
	   &nbsp;&nbsp;<b>Grade Received:  </b><%= homework.received_grade %></li>
      <% end %>
  <% end %>
  </br>
&nbsp;&nbsp;
<%= link_to 'Add a Homework', new_task_path(:course_id => @course.id, :type => "Homework") %>
</br>
</p>

<p>
<strong>Projects:</strong>
  <% if @course.projects %>
      <% @course.projects.each do |project| %>
          <li><%= link_to project.title, task_path(project.id) %>
	       &nbsp;&nbsp;<b>Hours Studied:  </b><%= project.total_hours %>
               &nbsp;&nbsp;<b>Grade Received:  </b><%= project.received_grade %></li>
      <% end %>
  <% end %>
  </br>
&nbsp;&nbsp;
<%= link_to 'Add a Project', new_task_path(:course_id => @course.id, :type => "Project") %>
</br>
</p>


<p>
  <strong>Tests:</strong>
  <% if @course.tests %>
      <% @course.tests.each do |test| %>         
         <li><%= link_to test.title, task_path(test.id) %>
           &nbsp;&nbsp;<b>Hours Studied:  </b><%= test.total_hours %>
           &nbsp;&nbsp;<b>Grade Received:  </b><%= test.received_grade %></li>
      <% end %>
  <% end %>
  </br>
&nbsp;&nbsp;
<%= link_to 'Add a Test', new_task_path(:course_id => @course.id, :type => "Test") %>
</p>

</br>
<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
